@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2018/07/28/19/48/wuppertal-3568823_1280.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
    border: 2px solid;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 98vh;
}

header>div {
    background-color: gray;
    position: absolute;
    top: 50px;
    left: 90%;
    width: 55px;
    height: 60px;
}

header>div:hover {
    background-color: mediumaquamarine;
}

.pics {
    padding-left: 100px;
    filter: opacity(45%);
}

h1 {
    font-size: 6em;
}

p {
    height: 30vh;
}

footer {
    background-color: gray;
    text-align: center;
    filter: opacity(85%);
}